<?xml version="1.0" encoding="UTF-8"?>



<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->

<widget xmlns     = "http://www.w3.org/ns/widgets"

        xmlns:gap = "http://phonegap.com/ns/1.0"
		
		xmlns:android="http://schemas.android.com/apk/res/android"
		
		xmlns:cdv="http://cordova.apache.org/ns/1.0"


        id        = "com.lactofm"

        version   = "3.7">



    <name>LactoseFM</name>



    <description>

        LactoseFm

    </description>



    <author href="http://lactosefm.ru" email="admin@crage.ru">

        Max380Ink 

    </author>



    <!--

        If you do not want any permissions to be added to your app, add the

        following tag to your config.xml; you will still have the INTERNET

        permission on your app, which PhoneGap requires.

    -->

    <preference name="permissions"                value="none"/>



    <!-- Customize your app and platform with the preference element. -->

    <preference name="orientation"                value="portrait" />        <!-- all: default means both landscape and portrait are enabled -->

    <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->

    <preference name="fullscreen"                 value="false" />           <!-- all: hides the status bar at the top of the screen -->

    <preference name="webviewbounce"              value="true" />           <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->

    <preference name="prerendered-icon"           value="true" />           <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->

    <preference name="stay-in-webview"            value="false" />          <!-- ios: external links should open in the default browser, 'true' would use the webview the app lives in -->

    <preference name="ios-statusbarstyle"         value="black-opaque" />   <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->

    <preference name="detect-data-types"          value="true" />           <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->

    <preference name="exit-on-suspend"            value="false" />          <!-- ios: if set to true, app will terminate when home button is pressed -->

    <preference name="show-splash-screen-spinner" value="true" />           <!-- ios: if set to false, the spinner won't appear on the splash screen during app loading -->

    <preference name="auto-hide-splash-screen"    value="true" />           <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->

    <preference name="disable-cursor"             value="false" />          <!-- blackberry: prevents a mouse-icon/cursor from being displayed on the app -->

    <preference name="android-installLocation"    value="auto" />           <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->
	
	
    <!--

        Define a specific version of PhoneGap to build into your app.

        <preference name="phonegap-version"       value="3.5.0" />

    -->

<preference name='phonegap-version' value='cli-9.0.0' />

    <!-- Plugins 
	
	<plugin name="cordova-plugin-splashscreen"      source="npm">
      <preference name="SplashScreen"               value="splash" />
      <preference name="SplashScreenDelay"          value="3000" />
      <preference name="FadeSplashScreen"           value="1000"/>
      <preference name="ShowSplashScreenSpinner"    value="false" />
	  <preference name="SplashShowOnlyFirstTime" 	value="true" />
	</plugin>  
	-->
    <!-- Core plugins -->

<!--     <plugin name="cordova-plugin-battery-status" />

    <plugin name="cordova-plugin-camera" />

    <plugin name="cordova-plugin-media-capture" />

    <plugin name="cordova-plugin-console" />

    <plugin name="cordova-plugin-contacts" />

    <plugin name="cordova-plugin-device" />

    <plugin name="cordova-plugin-device-motion" />

    <plugin name="cordova-plugin-device-orientation" />

    <plugin name="cordova-plugin-dialogs" />

    <plugin name="cordova-plugin-file" />

    <plugin name="cordova-plugin-file-transfer" />

    <plugin name="cordova-plugin-geolocation" />

    <plugin name="cordova-plugin-globalization" />

    <plugin name="cordova-plugin-inappbrowser" />

    <plugin name="cordova-plugin-media" />

    <plugin name="cordova-plugin-network-information" /> 

    <plugin name="cordova-plugin-vibration" />  -->
	
	<plugin name="onesignal-cordova-plugin" source="npm" />
	<!-- <plugin name="cordova-plugin-admobpro" source="npm" > -->
	 <!-- <variable name="ADMOB_APP_ID" value="ca-app-pub-1179949820637196~4703135689" /> -->
    <!-- </plugin> -->
	<plugin name="cordova-plugin-background-audio" source="npm" />
    <plugin name="cordova-plugin-splashscreen" />	
	<!-- <plugin name="cordova-plugin-appcenter-analytics" /> -->
	<!-- <plugin name="cordova-plugin-appcenter-crashes" /> -->


	<preference name="LoadUrlTimeoutValue" value="1000000" />
	<preference name="BackupWebStorage" value="local" /> -->
	<preference name="SplashScreenDelay" value="7000" />
	<preference name="FadeSplashScreen"           value="1000"/>
	<preference name="ShowSplashScreenSpinner"    value="true" />
	<preference name="SplashShowOnlyFirstTime" 	value="true" />

	
<!-- Windows 10 (default): -->





    <!-- Third party plugins -->

    <!-- A list of available plugins are available at https://build.phonegap.com/plugins -->

    <!--

        <plugin name="com.phonegap.plugins.barcodescanner" />

    -->

	<content src="index.html"></content>

    <!-- Define app icon for each platform. -->

    <icon src="icon.png" />
	<splash src="splash.png" />

	<!-- iPhone 6 / 6+ -->
	<icon src="res/icon/ios/icon-60@3x.png" platform="ios" width="180" height="180" />

<!-- iPhone / iPod Touch  -->
	<icon src="res/icon/ios/icon-60.png" platform="ios" width="60" height="60" />
	<icon src="res/icon/ios/icon-60@2x.png" platform="ios" width="120" height="120" />

<!-- iPad -->
	<icon src="res/icon/ios/icon-76.png" platform="ios" width="76" height="76" />
	<icon src="res/icon/ios/icon-76@2x.png" platform="ios" width="152" height="152" />
	<icon src="res/icon/ios/icon-83.5@2x.png" platform="ios" width="167" height="167" />

<!-- Settings Icon -->
	<icon src="res/icon/ios/icon-small.png" platform="ios" width="29" height="29" />
	<icon src="res/icon/ios/icon-small@2x.png" platform="ios" width="58" height="58" />
	<icon src="res/icon/ios/icon-small@3x.png" platform="ios" width="87" height="87" />

	<!-- Spotlight Icon -->
	<icon src="res/icon/ios/icon-40.png" platform="ios" width="40" height="40" />
	<icon src="res/icon/ios/icon-40@2x.png" platform="ios" width="80" height="80" />
	<icon src="res/icon/ios/icon-40@3x.png" platform="ios" width="120" height="120" />


    <!-- Define app splash screen for each platform. -->

<!-- <platform name="android"/> -->
<!-- <splash src="splash.png" platform="android" qualifier="ldpi" /> -->








    <!--

        Define access to external domains.



        <access />            - a blank access tag denies access to all external resources.

        <access origin="*" /> - a wildcard access tag allows access to all external resource.



        Otherwise, you can specify specific domains:



        <access origin="http://phonegap.com" />                    - allow any secure requests to http://phonegap.com/

        <access origin="http://phonegap.com" subdomains="true" />  - same as above, but including subdomains, such as http://build.phonegap.com/

        <access origin="http://phonegap.com" browserOnly="true" /> - only allows http://phonegap.com to be opened by the child browser.

    -->



    <access origin="*" />

    <!-- Added the following intents to support the removal of whitelist code from base cordova to a plugin -->

    <!-- Whitelist configuration. Refer to https://cordova.apache.org/docs/en/edge/guide_appdev_whitelist_index.md.html -->

    <plugin name="cordova-plugin-whitelist" />

    <allow-intent href="http://*/*" />

    <allow-intent href="https://*/*" />

    <allow-intent href="tel:*" />

    <allow-intent href="sms:*" />

    <allow-intent href="mailto:*" />

    <allow-intent href="geo:*" />

    <platform name="android">

        <allow-intent href="market:*" />

  <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
      <application android:usesCleartextTraffic="true" />
  </edit-config>

		<resource-file src="/res/drawable-xxxhdpi/ic_onesignal_large_icon_default.png" target="app/src/main/res/drawable-xxxhdpi/ic_onesignal_large_icon_default.png" />
		
		<resource-file src="/res/raw/onesignal_default_sound.mp3" target="app/src/main/res/raw/onesignal_default_sound.mp3" />
		
		<resource-file src="/res/raw/eror404.mp3" target="app/src/main/res/raw/eror404.mp3" />
		
		<resource-file src="/res/drawable-mdpi/ic_stat_onesignal_default.png" target="app/src/main/res/drawable-mdpi/ic_stat_onesignal_default.png" />
		<resource-file src="/res/drawable-hdpi/ic_stat_onesignal_default.png" target="app/src/main/res/drawable-hdpi/ic_stat_onesignal_default.png" />
		<resource-file src="/res/drawable-xhdpi/ic_stat_onesignal_default.png" target="app/src/main/res/drawable-xhdpi/ic_stat_onesignal_default.png" />
		<resource-file src="/res/drawable-xxhdpi/ic_stat_onesignal_default.png" target="app/src/main/res/drawable-xxhdpi/ic_stat_onesignal_default.png" />
		<resource-file src="/res/drawable-xxxhdpi/ic_stat_onesignal_default.png" target="app/src/main/res/drawable-xxxhdpi/ic_stat_onesignal_default.png" />
		
		<resource-file src="/res/drawable-mdpi/song.png" target="app/src/main/res/drawable-mdpi/ic_stat_onesignal_t.png" />
		<resource-file src="/res/drawable-hdpi/song.png" target="app/src/main/res/drawable-hdpi/song.png" />
		<resource-file src="/res/drawable-xhdpi/song.png" target="app/src/main/res/drawable-xhdpi/song.png" />
		<resource-file src="/res/drawable-xxhdpi/song.png" target="app/src/main/res/drawable-xxhdpi/song.png" />
		<resource-file src="/res/drawable-xxxhdpi/song.png" target="app/src/main/res/drawable-xxxhdpi/song.png" />		
    </platform>

    <platform name="ios">

        <allow-intent href="itms:*" />

        <allow-intent href="itms-apps:*" />

    </platform>



</widget>