<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>667249969471-h5a8lfjkikuvlh2e4mgjfr5bigd8aha4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667249969471-h5a8lfjkikuvlh2e4mgjfr5bigd8aha4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>667249969471-u8e00qp30htq3o9ntedtng8slis2gbsd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD0sTUt-PrTiF2CKm2c8BSU5BF2Tlq3gjo</string>
	<key>GCM_SENDER_ID</key>
	<string>667249969471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lactofm</string>
	<key>PROJECT_ID</key>
	<string>lactofm</string>
	<key>STORAGE_BUCKET</key>
	<string>lactofm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667249969471:ios:3aa20c35a65d2061</string>
	<key>DATABASE_URL</key>
	<string>https://lactofm.firebaseio.com</string>
</dict>
</plist>